<a href="https://colab.research.google.com/github/tsrrbbn040/FTDS_NG/blob/main/h8dsft_Descriptive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A. Identitas

* Nama : Muhammad Itsar Rabbani
* Batch : 006
* Objective :
  * Mencari Measure of Central Tendency dari sebuah dataset
  * Mencari Measure of Variance dari sebuah dataset
* Studi Kasus :
  * nilai rata-rata kasus harian dari sebuah pulau
  * nilai median kasus harian dari sebuah pulau
  * nilai modus kasus harian dari sebuah pulau
  * nilai variansi dari kasus harian pada sebuah pulau
  * nilai standar deviasi dari kasus harian pada sebuah pulau

# B. Import Data

Import Kaggle & Download Data Set

In [41]:
#permission access kaggle to root
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle

In [42]:
#kaggle on default folder
!mkdir ./kaggle
!mv ./kaggle.json /kaggle

mkdir: cannot create directory ‘./kaggle’: File exists

In [43]:
#granting access permission
!chmod 600 ~/.kaggle/kaggle.json

In [44]:
#download dataset
!kaggle datasets download -d hendratno/covid19-indonesia
!mkdir covid19
!unzip covid19-indonesia -d covid19

covid19-indonesia.zip: Skipping, found more recently modified local copy (use --force to force download)
mkdir: cannot create directory ‘covid19’: File exists
Archive:  covid19-indonesia.zip
  inflating: covid19/covid_19_indonesia_time_series_all.csv

In [45]:
#ganti nama file
import os
os.rename(r'/content/covid19/covid_19_indonesia_time_series_all.csv',r'/content/covid19/covid_19.csv')

In [46]:
#Import Library

import pandas as pd
import numpy as py

# C. Data Load

In [47]:
covid = pd.read_csv('/content/covid19/covid_19.csv')
covid.head()

       Date  ... Growth Factor of New Deaths
0  3/1/2020  ...                         NaN
1  3/2/2020  ...                         1.0
2  3/2/2020  ...                         NaN
3  3/2/2020  ...                         NaN
4  3/3/2020  ...                         1.0

[5 rows x 38 columns]

In [48]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

# D. Data Cleaning

In [76]:
#menghapus kolom yang tidak digunakan
new_covid = covid.drop([
                 'Location ISO Code', 'City or Regency', 'Province',
                 'Country', 'Continent', 'Time Zone', 'Special Status',
                 'Total Regencies', 'Total Cities', 'Total Districts',
                 'Total Urban Villages', 'Total Rural Villages', 'Area (km2)',
                 'Population Density', 'Longitude', 'Latitude',
                 'New Cases per Million', 'Total Cases per Million',
                 'New Deaths per Million', 'Total Deaths per Million', 'Total Deaths per 100rb'
], axis = 1)

#mengisi nilai 0 pada data yang kosong
new_covid = new_covid.fillna(0)

#mengeluarkan indonesia dari index
new_covid = new_covid[new_covid['Location Level'] != 'Country']
new_covid.tail(10)

            Date  ... Growth Factor of New Deaths
21748  12/2/2021  ...                         1.0
21749  12/2/2021  ...                         1.0
21750  12/2/2021  ...                         1.0
21751  12/2/2021  ...                         0.0
21752  12/2/2021  ...                         1.0
21753  12/2/2021  ...                         1.0
21754  12/2/2021  ...                         1.0
21755  12/2/2021  ...                         1.0
21756  12/2/2021  ...                         1.0
21757  12/2/2021  ...                         1.0

[10 rows x 17 columns]

In [77]:
#merubah kolom Date dari object ke datetime
new_covid['Date'] = pd.to_datetime(new_covid['Date'])

# E. Solving Problem

Katakanlah kita mau mencari
* nilai rata-rata kasus harian dari sebuah pulau
* nilai median kasus harian dari sebuah pulau
* nilai modus kasus harian dari sebuah pulau

In [117]:
#df1 = Data Covid per tanggal x

df1 = new_covid.drop_duplicates(subset='Location', keep="last")

In [84]:
df1['Date'].value_counts()

2021-12-02    27
2021-12-01     5
2021-11-28     1
2021-11-21     1
Name: Date, dtype: int64

karena datanya tidak equivalen, maka kita hanya akan mengambil data dari salah satu tanggal saja, dalam hal ini 02 Desember 2021

In [118]:
#data 02 desember dientry pada DF 'desember'
desember = df1[df1.Date == "2021-12-02"]

In [86]:
desember.head()

            Date  ... Growth Factor of New Deaths
21730 2021-12-02  ...                         1.0
21731 2021-12-02  ...                         0.0
21732 2021-12-02  ...                         1.0
21733 2021-12-02  ...                         1.0
21734 2021-12-02  ...                         1.0

[5 rows x 17 columns]

## Central Tendency & Measure of Variance Pulau Jawa

In [89]:
#rata-rata kasus harian pulau jawa
jawa = desember[desember.Island == 'Jawa']
mean_jawa = jawa['New Active Cases'].mean()
print("Rata-rata kasus harian pulau Jawa tanggal 02 Desember 2021 =", mean_jawa, "kasus")

Rata-rata kasus harian pulau Jawa tanggal 02 Desember 2021 = 29.0 kasus

In [90]:
#median kasus harian pulau jawa
med_jawa = jawa['New Active Cases'].median()
print("Nilai median kasus harian pulau Jawa tanggal 02 Desember 2021 =", med_jawa)

Nilai median kasus harian pulau Jawa tanggal 02 Desember 2021 = 23.5

In [107]:
#modus kasus harian pulau jawa
mod_jawa = jawa['New Active Cases'].mode()
print("Nilai modus kasus harian pulau Jawa tanggal 02 Desember 2021 =",
      mod_jawa
      )

Nilai modus kasus harian pulau Jawa tanggal 02 Desember 2021 = 0     7
1    15
2    23
3    24
4    28
5    77
dtype: int64

In [100]:
#nilai variansi dari kasus harian pulau jawa
print(jawa['New Active Cases'].var())

609.2

In [101]:
#nilai standar devisi dari kasus harian pulau Jawa
print(jawa['New Active Cases'].std())

24.68197723035981

## Central Tendency & Measure of Variance Pulau Sumatera

In [102]:
#rata-rata kasus harian pulau Sumatera
sumatera = desember[desember.Island == 'Sumatera']
mean_sumatera = sumatera['New Active Cases'].mean()
print("Rata-rata kasus harian pulau Sumatera tanggal 02 Desember 2021 =", mean_sumatera, "kasus")

Rata-rata kasus harian pulau Sumatera tanggal 02 Desember 2021 = 3.5 kasus

In [103]:
#median kasus harian pulau Sumatera
sumatera = desember[desember.Island == 'Sumatera']
med_sumatera = sumatera['New Active Cases'].median()
print("Nilai median kasus harian pulau Sumatera tanggal 02 Desember 2021 =", med_sumatera, "kasus")

Nilai median kasus harian pulau Sumatera tanggal 02 Desember 2021 = 3.5 kasus

In [106]:
#modus kasus harian pulau Sumatera
sumatera = desember[desember.Island == 'Sumatera']
mod_sumatera = sumatera['New Active Cases'].mode()
print("Nilai modus kasus harian pulau Sumatera tanggal 02 Desember 2021 =", mod_sumatera)

Nilai modus kasus harian pulau Sumatera tanggal 02 Desember 2021 = 0    4
dtype: int64

In [115]:
#nilai variansi dari kasus harian pulau Sumatera
print(sumatera['New Active Cases'].var())

4.571428571428571

In [116]:
#nilai standar deviasi dari kasus harian pulau Sumatera
print(sumatera['New Active Cases'].std())

2.138089935299395